@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  scroll-snap-type: y mandatory; /* Enables vertical scroll snapping */
  overflow-y: scroll; /* Ensures the vertical scrollbar is enabled */
  height: 100vh; /* Ensures body takes full viewport height */
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start; /* Aligns the start of each section */
  height: 100vh; /* Makes each section take the full height of the viewport */
}


#three-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
}


@keyframes backgroundAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.background-animation {
  background-image: linear-gradient(to right, #4f46e1, #7c3aed, #ec4899);
  background-size: 400% 400%;
  animation: backgroundAnimation 10s ease infinite;
}

@keyframes flowing {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.flowing-background {
  @apply bg-gradient-to-r from-indigo-500 to-purple-500;
  animation: flowing 5s ease infinite; /* Adjust duration here */
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 8s ease infinite;
}

@keyframes border-gradient {
  0% {
    border-color: #ff7eb3;
  }
  25% {
    border-color: #ff758f;
  }
  50% {
    border-color: #f26d85;
  }
  75% {
    border-color: #d9668b;
  }
  100% {
    border-color: #ff7eb3;
  }
}

.animate-border-gradient {
  border-radius: 9999px; /* Full circle */
  border-width: 4px;
  border-style: solid;
  background-clip: border-box;
  animation: border-gradient 3s linear infinite;
}


@keyframes light-border {
  0% {
    transform: rotate(0deg);
    border-image-source: linear-gradient(90deg, transparent, rgb(37 99 235), transparent);
  }
  100% {
    transform: rotate(360deg);
    border-image-source: linear-gradient(90deg, transparent, rgb(37 99 235), transparent);
  }
}

.animate-light-border {
  border-style: solid;
  border-width: 4px;
  border-image-slice: 1;
  animation: light-border 3s linear infinite;
}
