@keyframes backgroundAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.background-animation {
  background-image: linear-gradient(to right, #4f46e1, #7c3aed, #ec4899);
  background-size: 400% 400%;
  animation: backgroundAnimation 10s ease infinite;
}
